body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav-container {
  width: 50%;
  margin: 5% auto;
}

.custom-nav {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  width: 50%;
  text-align: center;
  font-size: 24px
}

input {
  margin-bottom: 8px;
}

.custom-form-group {
  padding-bottom: 32px;
  border-bottom: solid 1px #2465a1;
}

#view-my-wills {
  margin-bottom: 12px;
  margin-top: 12px;
}

#delete-clause-button {
  background-color: rgb(172, 66, 66);
  color: white;
  font-weight: 800;
  padding: 0;
  width: 34px;
  height: 34px;
}

#create-will {
  margin-top: 16px;
  width: 180px;
}

#wills-list-container {
  margin-bottom: 24px;
}

.will-content {
  font-size: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
}
